---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="Best Imports - Contacto">
  <section class="pt-[150px] pb-[150px] w-full">
    <section
      class="p-5 flex flex-col items-center justify-center w-full min-[1150px]:w-[1000px] min-[1500px]:w-[1400px] ml-auto mr-auto gap-5"
    >
      <section class="container" data-aos="fade-up-left">
        <section class="content">
          <section class="left-side">
            <section class="address details flex items-center flex-col">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B4313B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><line x1="4" y1="9" x2="20" y2="9"></line><line
                  x1="4"
                  y1="15"
                  x2="20"
                  y2="15"></line><line x1="10" y1="3" x2="8" y2="21"
                ></line><line x1="16" y1="3" x2="14" y2="21"></line></svg
              >
              <section class="topic">Nit</section>
              <section class="text-one">12640906</section>
              <section class="text-two">NO VENDEMOS RÉPLICAS</section>
            </section>
            <section class="address details flex items-center flex-col">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B4313B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><circle cx="12" cy="12" r="10"></circle><path
                  d="M16.2 7.8l-2 6.3-6.4 2.1 2-6.3z"></path></svg
              >
              <section class="topic">Direccion</section>
              <section class="text-one">Cra 21 # 40-38</section>
              <section class="text-two">Valledupar, Colombia</section>
            </section>
            <section class="phone details flex items-center flex-col">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B4313B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path
                  d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                ></path></svg
              >
              <section class="topic">Telefono</section>
              <section class="text-one">+57 313 7437180</section>
            </section>
            <section class="email details flex items-center flex-col">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="50"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#B4313B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path
                  d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                ></path><polyline points="22,6 12,13 2,6"></polyline></svg
              >
              <section class="topic">Correo</section>
              <section class="text-one">bestimportaciones50@gmail.com</section>
            </section>
          </section>
          <section class="right-side">
            <section class="topic-text">Envia un Mensaje</section>
            <p>
              Si tienes algúna duda con nuestro productos, puedes enviarme un
              mensaje desde aquí. Será un placer ayudarte.
            </p>
            <form action="https://formspree.io/f/mzzzpoop" method="POST">
              <section class="input-box">
                <input
                  type="text"
                  name="text"
                  placeholder="Ingresa tu Nombre"
                  required
                />
              </section>
              <section class="input-box">
                <input
                  type="email"
                  name="email"
                  placeholder="Ingresa tu Correo"
                  required
                />
              </section>
              <section class="input-box message-box">
                <textarea name="message" id="" placeholder="Escribe tu Mensaje"
                ></textarea>
              </section>
              <section class="button">
                <input type="submit" value="Enviar" />
              </section>
            </form>
            <a href="https://api.whatsapp.com/send?phone=573137437180">
              <button
                class="relative inline-flex items-center justify-center px-8 my-5 py-2.5 overflow-hidden tracking-tighter text-white bg-gray-800 rounded-md group"
              >
                <span
                  class="absolute w-0 h-0 transition-all duration-500 ease-out bg-red-600 rounded-full group-hover:w-56 group-hover:h-56"
                ></span>
                <span class="absolute bottom-0 left-0 h-full -ml-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-auto h-full opacity-100 object-stretch"
                    viewBox="0 0 487 487"
                  >
                    <path
                      fill-opacity=".1"
                      fill-rule="nonzero"
                      fill="#FFF"
                      d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z"
                    ></path>
                  </svg>
                </span>
                <span class="absolute top-0 right-0 w-12 h-full -mr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="object-cover w-full h-full"
                    viewBox="0 0 487 487"
                  >
                    <path
                      fill-opacity=".1"
                      fill-rule="nonzero"
                      fill="#FFF"
                      d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z"
                    ></path>
                  </svg>
                </span>
                <span
                  class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-200"
                ></span>

                <span class="relative text-base font-semibold">Whatsapp</span>
              </button>
            </a>
          </section>
        </section>
      </section>

      <Map />
    </section>
  </section>
</Layout>

<style>
  .mapswrapper {
    background: #fff;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
  }
  .mapswrapper iframe {
    border: 0;
    position: relative;
    z-index: 2;
    border-radius: 20px;
  }
  .mapswrapper a {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .container {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details {
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i {
    font-size: 30px;
    color: #b4313b;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #b4313b;
  }
  .right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box {
    min-height: 110px;
  }
  .right-side .input-box textarea {
    padding-top: 6px;
  }
  .right-side .button {
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #b4313b;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  @media (max-width: 950px) {
    .container {
      width: 90%;
      padding: 30px 40px 40px 35px;
    }
    .container .content .right-side {
      width: 75%;
      margin-left: 55px;
    }
  }
  @media (max-width: 820px) {
    .container {
      margin: 40px 0;
      height: 100%;
    }
    .container .content {
      flex-direction: column-reverse;
    }
    .container .content .left-side {
      width: 100%;
      flex-direction: row;
      margin-top: 40px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .container .content .left-side::before {
      display: none;
    }
    .container .content .right-side {
      width: 100%;
      margin-left: 0;
    }
  }
</style>
