---
import Cartel from "../components/Cartel.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CrediExpress from "../components/CrediExpress.astro";
import Resenas from "../components/Resenas.astro";
import Galery from "../components/Galery.astro"
import Ver from "../components/Ver.astro";
import Beneficios from "../components/Beneficios.astro"
import White from "../components/White.astro"

---

<Layout title="Best Imports">
  <main>
    <Cartel />
    <Hero />
    <CrediExpress/>
    <Resenas/>
    <Galery/>
    <Ver/>
    <Beneficios/>
    <White/>
  </main>
</Layout>
