<section class="pt-[100px] pb-[100px] bg-[#1A1A1A] w-full">
  <section
    class="flex p-5 justify-center items-center w-full flex-col text-center min-[768px]:flex-row min-[1150px]:w-[1000px] min-[1500px]:w-[1400px] ml-auto mr-auto gap-5"
  >
    <section
      class="card_ben w-[95%] bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-9 space-y-3 relative overflow-hidden min-[540px]:w-[85%] min-[1150px]:w-[65%]" data-aos="fade-up-right"
    >
      <section
        class="w-24 h-24 bg-[#B4313B] rounded-full absolute -right-5 -top-7"
      >
        <p class="absolute bottom-6 left-7 text-white text-2xl">01</p>
      </section>
      <section class="fill-[#B4313B] w-12">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#B4313B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 11 12 14 22 4"></polyline><path
            d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
          ></path></svg
        >
      </section>
      <h1 class="font-bold text-xl">Garantía de Calidad y Autenticidad</h1>
      <p class="text-sm text-zinc-500 leading-6">
        Comprar un iPhone con nosotros garantiza que adquieres un producto
        original y de alta calidad. Todos nuestros dispositivos están
        respaldados por los estándares oficiales de Apple
      </p>
    </section>

    <section
      class="card_ben w-[95%] bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-9 space-y-3 relative overflow-hidden min-[540px]:w-[85%] min-[1150px]:w-[65%]"data-aos="fade-up"
    >
      <section
        class="w-24 h-24 bg-[#B4313B] rounded-full absolute -right-5 -top-7"
      >
        <p class="absolute bottom-6 left-7 text-white text-2xl">02</p>
      </section>
      <section class="fill-[#B4313B] w-12">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#B4313B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><line x1="12" y1="1" x2="12" y2="23"></line><path
            d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg
        >
      </section>
      <h1 class="font-bold text-xl">Precios Competitivos</h1>
      <p class="text-sm text-zinc-500 leading-6">
        Ofrecemos precios competitivos en una amplia gama de modelos de iPhone.
        Ya sea que busques el último modelo o un iPhone reacondicionado de
        confianza, puedes contar con nosotros para obtener el mejor valor por tu
        dinero sin sacrificar la calidad.
      </p>
    </section>

    <section
      class="card_ben w-[95%] bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-9 space-y-3 relative overflow-hidden min-[540px]:w-[85%] min-[1150px]:w-[65%]" data-aos="fade-up-left"
    >
      <section
        class="w-24 h-24 bg-[#B4313B] rounded-full absolute -right-5 -top-7"
      >
        <p class="absolute bottom-6 left-7 text-white text-2xl">03</p>
      </section>
      <section class="fill-[#B4313B] w-12">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#B4313B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle
            cx="9"
            cy="7"
            r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path
            d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg
        >
      </section>
      <h1 class="font-bold text-xl">Asesoramiento y Soporte</h1>
      <p class="text-sm text-zinc-500 leading-6">
        Nuestro equipo de expertos está disponible para asesorarte en todo el
        proceso de compra. Ya sea que necesites ayuda para elegir el modelo
        adecuado según tus necesidades o soporte postventa,
      </p>
    </section>
  </section>
</section>

<style>
  .card_ben:hover {
    transform: scale(1.05);
    transition: 1s;
  }
</style>
