<section class="pt-[80px] pb-[20px] w-full bg_cartel">
  <section
    class=" flex p-5 justify-center w-full min-[1150px]:w-[1000px] min-[1500px]:w-[1400px] ml-auto mr-auto gap-5"
    
  >

  <h1 class="font-bold text-center" data-aos="fade-left">Best Imports</h1>
  
  </section>
</section>


